<h1>Errors</h1>

<table class="table">
  <tr>
    <th>Created At</th>
    <th>App Version</th>
    <th>User</th>
    <th>Error</th>
    <th></th>
  </tr>
  
  <% @errors.each do |error| %>
    <% json = error.parsed_payload %>
    <tr>
      <td><%= l(error.created_at) %></td>
      <td><%= json.present? ? json["APP_VERSION_NAME"] : "JSON Error" %></td>
      <td><%= error.parsed_custom_data["USER"].to_s %></td>            
      <td><%= json.present? ? truncate(json["STACK_TRACE"].lines.first, length: 75) : "JSON Error" %></td>
      <td>
        <%= link_to "View", error, class: 'btn' %> 
        <%= link_to "Delete", error, class: 'btn btn-danger', method: :delete, confirm: "Are you sure?" %>
      </td>
    </tr>
  <% end %>
</table>