<table class="table">
  <% %w(ANDROID_VERSION PHONE_MODEL APP_VERSION_NAME APP_VERSION_CODE USER_APP_START_DATE BRAND IS_SILENT).each do |key|%>
    <tr>        
      <th><%= key.humanize%></th><td><%= @json[key]%></td>
    </tr>
  <% end %>
  <tr>
    <th colspan="2">Stack trace</th>
  </tr>
  <tr>
    <td colspan="2"><pre class="pre-scrollable prettyprint"><%= @json["STACK_TRACE"]%></pre></td>
  </tr>
      
  <tr>
    <th colspan="2">Custom data</th>
  </tr>
  <tr>
    <td colspan="2"><pre class="pre-scrollable prettyprint"><%= @json["CUSTOM_DATA"]%></pre></td>
  </tr>
      
  <tr>
    <th colspan="2">Full error report payload</th>
  </tr>
  <tr>
    <td colspan="2"><pre class="pre-scrollable prettyprint"><%= raw JSON.pretty_generate(@json) %></pre></td>
  </tr>
      
</table>